.wrapper {
  padding: var(--sm-padding) 0;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  padding-bottom: var(--xs-padding);
}

.input {
  padding: var(--sm-padding) var(--md-padding);
}
